// Pie de página

footer {
  text-align: center;
  padding: $space-xl;
  margin-top: $space-4xl;
  color: rgba($color-dark, 0.75);
}

.footer-minimal {
  text-align: center;
  padding: $space-xl;
  color: rgba($color-dark, 0.7);
}
